body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  padding-bottom: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.sortable-list {
  max-width: 300px;
  overflow: auto;
  margin: 0 auto;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  transition: all 200ms ease-in-out;
  position: relative;
}

li {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px;
  cursor: grab;
  transition: none;
  z-index: 10;
}

.preview {
  background-color: lightgray;
  padding: 0px;
  height: 40px;
  position: absolute;
  transform: translateY(-7px);
  z-index: 0;
}
