body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

body,
main {
  height: 100%;
  display: block;
  width: 100vw;
  overflow: hidden;
}

main {
  padding: 0px 20px;
}

.page-content {
  display: flex;
  gap: 20px;
  padding: 10px 0px;
  overflow: auto;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  height: min-content;
  max-height: 100%;
  padding: 20px 5px;
  border-radius: 10px;
  min-width: 300px;
  background-color: lightgray;
  z-index: 1;
  transition: all 20000ms ease-in-out;
}

.header {
  padding: 5px;
  user-select: none;
  cursor: grab;
}

.content {
  height: 100%;
  overflow: auto;
  max-height: 100%;
}

.sortable-list {
  width: 100%;
  overflow: auto;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 5px;
  transition: all 200ms ease-in-out;
  position: relative;
  width: 100%;
  overflow: hidden;
}

li {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0px;
  cursor: grab;
  transition: none;
  z-index: 10;
  width: 100%;
  user-select: none;
}

.preview {
  background-color: gray;
  padding: 0px;
  height: 40px;
  position: absolute;
  z-index: 0;
  margin: 0px;
}

.preview-list {
  position: absolute;
  z-index: 0;
  transition: n;
} 